#sem_1  { width: 280px; height: 50px; background-color: silver;
       position: absolute ; left : 50px; top: 10px; }
#sem_2 { width: 280px; height: 50px; background-color: silver;
       position: absolute ; left : 400px; top: 10px; }
#sem_3 { width: 280px; height: 50px; background-color: silver;
       position: absolute ; left : 750px; top: 10px; }
#sem_4 { width: 280px; height: 50px; background-color: silver;
       position: absolute ; left : 50px; top: 200px; }
#sem_5 { width: 280px; height: 50px; background-color: silver;
       position: absolute ; left : 400px; top: 200px; }
#sem_6 { width: 280px; height: 50px; background-color: silver;
       position: absolute ; left : 750px; top: 200px; }
#sem_7 { width: 280px; height: 50px; background-color: silver;
       position: absolute ; left : 50px; top: 400px; }
#sem_8 { width: 280px; height: 50px; background-color: silver;
       position: absolute ; left : 400px; top: 400px; }
#demo { width: 400px; height: 50px; background-color: silver;
        position: absolute ; left : 940px; top: 300px; }

#sem { width: 100px; height: 50px; background-color: yellow;
       position: absolute ; right: 150px; top: 25px; }
#btn1 { width: 100px; height: 50px; background-color: yellow;
              position: absolute ; right: 150px; top: 100px; }

#btn2 { width: 100px; height: 50px; background-color: yellow;
              position: absolute ; right: 25px; top: 100px; }

#btn3 { width: 100px; height: 50px; background-color: yellow;
              position: absolute ; right: 450px; top: 525px; }

#num_mat_elim{ width: 100px; height: 50px; background-color: yellow;
              position: absolute ; right: 450px; top: 463px; }

#sem_elim { width: 100px; height: 50px; background-color: yellow;
              position: absolute ; right: 450px; top: 400px; }


#codigo { width: 100px; height: 50px; background-color: yellow;
              position: absolute ; right: 25px; top: 25px; }


#est_actual { width: 300px; height: 50px; background-color: yellow;
              position: absolute ; right: 10px; top: 150px; }
